body {
	margin: 120px 200px 0 200px;
	background-color: #ecf0f1;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 15px;
	color: #616161;
	margin-top: -10px;
}
p {
	display: inline-block;
	margin: 20px 0 -8px 15px;
}
#info a {
	text-decoration: none;
	color: black;
	font-size: 30px;
}
#info {
	float: left;
	position: relative;
	margin: 0 auto 0 auto;
}
#map {
	position: relative;
	float: right;
	width: 400px;
	height: 500px;
	margin-left: 10px;
}
#main {
	width: 500px;
	height: 500px;
	margin: auto;
}
