body {
	margin: 0;
	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

#header {
	text-align: center;
	background: #e67e22;
	color: white;
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 64px;
	overflow: hidden;
	top: 0;
	left: 0;
}

#header > a:first-child img{
	position: absolute;
	left: 10px;
	height: 50px;
	top: 7px;
}

#header ul {
	margin: 0;
	list-style-type: none;
}

#header ul li {
	display: inline;
	padding: 10px;
	margin: 10px 20px;
	line-height: 4em;
}

#header a {
	color: inherit;
	text-decoration: none;
	display: inline;
}

#headerUser {
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(255, 255, 255, 0);
	transition: background .2s;
}

#headerUser:hover {
	background: rgba(255, 255, 255, 0.2);
}

#headerUser span {
	display: inline-block;
	line-height: 64px;
	float: right;
	padding: 0px 6px 0px 20px;
	float: right;
	font-size: 19px;
}

#headerUser img {
	height: 40px;
	width: 40px;
	border-radius: 40px;
	margin: 12px;
	float: right;
}
