body {
	position: relative;
}

#landingBack, #hurrytheforkup {
	z-index: 0;
	padding-top: 200px;
	height: calc(100vh - 200px);
	width: 100vw;
	color: #ffb033;
	text-align: center;
}

#landingBack {
	background: url("../images/background.jpg");
	background-color: #363b41;
	background-size: cover;
	background-position: center center;
	-webkit-animation: pulse 4s infinite;
	animation: pulse 4s infinite;
}

#landingBack span {
	text-align: center;
	display: block;
	font-size: 70px;
	font-weight: lighter;
	text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.6);
}

#liefhebbers {
	font-size:40px;
}

#landingBack span strong {
	font-weight: normal;
	text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.4);
}

#landingBack button {
	display: inline-block;
	border: 3px solid #ffb033;
	background: none;
	color: #ffb033;
	font-weight: normal;
	padding: 15px;
	font-size: 22px;
	cursor: pointer;
	text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.6);
	margin-top: 10vh;
	box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.6), 2px 1px 6px 0px rgba(0, 0, 0, 0.6) inset;
	transition: padding .2s, font .2s;
}

#landingBack button:hover {
	padding: 18px;
	font-size: 25px;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-filter: saturate(80%);
	}
	10% {
		-webkit-filter: saturate(120%);
	}
	20% {
		-webkit-filter: saturate(80%);
	}
	30% {
		-webkit-filter: saturate(120%);
	}
	40% {
		-webkit-filter: saturate(80%);
	}
	100% {
		-webkit-filter: saturate(80%);
	}
}

@keyframes pulse {
	0% {
		-webkit-filter: saturate(80%);
		filter: saturate(80%);
	}
	10% {
		-webkit-filter: saturate(120%);
		filter: saturate(120%);
	}
	20% {
		-webkit-filter: saturate(80%);
		filter: saturate(80%);
	}
	30% {
		-webkit-filter: saturate(120%);
		filter: saturate(120%);
	}
	40% {
		-webkit-filter: saturate(80%);
		filter: saturate(80%);
	}
	100% {
		-webkit-filter: saturate(80%);
		filter: saturate(80%);
	}
}

#explanation {
	left: 0;
	height: 500px;
	width: 100vw;
	background: #e67e22;
	z-index: 1;
}

#explanation > div {
	width: 80vw;
	margin: auto;
}

#explanation p {
	float: right;
	width: calc(100% - 500px);
	text-align: center;
	color: white;
	font-size: 40px;
	height: 200px;
	font-weight: lighter;
	margin-top: 50px;
}

#explanation img {
	margin-top: 50px;
}

#quote {
	width: 100vw;
	z-index: 0;
	background: #ecf0f1;
	padding-top: 10vh;
	text-align: right;
}

#quote > div {
	width: 80vw;
	margin: auto;
	margin-top: 100px;
	position: relative;
	margin-bottom: -5px;
}

#quote p {
	color: #3E3E3E;
	font-size: 40px;
	text-align: center;
	width: 100%;
	font-family: 'Architects Daughter', cursive;
}

#quote span {
	font-size: 23px;
	color: #8C8C8C;
	position: absolute;
	margin-top: 62px;
	margin-right: 55px;
	right: 200px;
}

#hurrytheforkup {
	background: url("../images/rozen.jpg");
	background-color: #1F1F1F;
	background-size: cover;
	background-position: center center;
	padding-top: 100px;
	padding-bottom: 50px;
	height: 200px;
	color: white;
	font-size: 60px;
	font-weight: lighter;
	text-shadow: 2px 1px 6px rgba(0, 0, 0, .6);
}

#hurrytheforkup a {
	text-decoration: none;
	color: #ffb033;
	text-shadow: 2px 1px 6px rgba(0, 0, 0, .5);
}

#hurrytheforkup a:hover {
	text-decoration: underline;
}

#hurrytheforkup span {
	opacity: 1;
	width: 380px;
	display: inline-block;
	transition: opacity .3s;
}

#footer {
	background: rgba(0,0,0,.7);
	height: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

#footer > div {
	width: 80vw;
	margin: auto;
}

#footer span {
	margin-top: 14px;
	color: #A9AFB0;
}

#footer span:first-child {
	float: left;
}

#footer span:last-child {
	float: right;
}
