body {
	margin-top: 80px;
	background-color: #ecf0f1; 
}
#leon, #emma {
	float: right;
}
#lem, #jules {
	float: left;
}
body > div {
	height: 100px;
	width: 890px;
	margin: auto;
}
#lem, #leon, #jules, #emma {
	margin: 10px;
	width: 360px;
	height: 420px;
	padding: 0 20px 0 20px;
	border: 0.2px solid #C9C9C9;
	position: relative;
	background-color: #fff;
	z-index: -2;
}
h1 {
	font-size: 22px;
}
h2 {
	font-size: 15px;
	color: #9F9F9F;
	margin-top: -12px;
}
#lem img, #jules img, #emma img{
	width: 190px;
	position: absolute;
	bottom: 0px;
	left: 210px;
	z-index: -1;
}
#leon img{
	width: 250px;
	position: absolute;
	bottom: 0px;
	left: 150px;
	z-index: -1;
}
