body {
	margin-top: 70px;
}
#leon, #emma {
	float: right;
}
#lem, #jules {
	float: left;
}
body > div {
	height: 100px;
	width: 890px;
	margin: auto;
}
#lem, #leon, #jules, #emma {
	margin: 20px;
	width: 360px;
	height: 420px;
	padding: 0 20px 0 20px;
	border: 2px solid black;
}
h1 {
	font-size: 22px;
}
h2 {
	font-size: 15px;
	opacity: 0.7;
}
