body {
	padding-top: 100px;
	background-color: #ecf0f1;
}
h1 {
	margin-left: 25px;
}
body > img {
	height: 250px;
	width:250px;
	margin-left: 25px;
	border-radius: 50px;
}
small {
	margin-left: 25px;
}
#zoekt {
	margin-left: 25px;
}
#leeftijd {
	margin-left: 25px;
}
#beschrijving {
	width: 500px;
	height: 600px;
	margin-top: -110px;
	margin-left: 400px;
}
#differentieer button {
	display: inline-block;
	border: 3px solid #ffb033;
	background: none;
	color: #ffb033;
	font-weight: normal;
	padding: 15px;
	font-size: 22px;
	cursor: pointer;
	text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.6);
	margin-left: 25px;
	margin-top: 15px;
	box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.6), 2px 1px 6px 0px rgba(0, 0, 0, 0.6) inset;
	transition: padding .2s, font .2s;
	font-weight: lighter;
}
#profName {
	margin-left:25px;
}
