body {
	padding-top: 50px;
	background-color: #ecf0f1;
}
h1 {
	margin-left: 25px;
}
body > img {
	height: 250px;
	width:250px;
	margin-left: 25px;
}
small {
	margin-left: 25px;
}
#zoekt {
	margin-left: 25px;
}
#leeftijd {
	margin-left: 25px;
}
code {
	text-align: center;
}

